@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace OlehOlehNTT.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    @* <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" /> *@
    <link href="css/site.css" rel="stylesheet" />
    <link href="OlehOlehNTT.Web.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>

    <!--============= ICON - REMIXICON ===========-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

    <!--============= SLIDER - SWIPER.JS ===========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" >

    <script src="https://unpkg.com/scrollreveal" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" type="text/javascript"></script>
    <script script="js/site.js" type="text/javascript"></script>
    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server"/>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    
    <script src="https://unpkg.com/scrollreveal" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" type="text/javascript"></script>
    <script src="_framework/blazor.server.js"></script>
    <script>
        window.initJS = () => {
            const scrollRevealOption = {
                origin: "bottom",
                distance: "50px",
                duration: 1000,
            };

            ScrollReveal().reveal(".header__image img", {
                ...scrollRevealOption,
                origin: "right",
            });
            ScrollReveal().reveal(".header__content .section__subheader", {
                ...scrollRevealOption,
                delay: 500,
            });
            ScrollReveal().reveal(".header__content h1", {
                ...scrollRevealOption,
                delay: 1000,
            });
            ScrollReveal().reveal(".header__content .section__description", {
                ...scrollRevealOption,
                delay: 1500,
            });
            ScrollReveal().reveal(".header__btns", {
                ...scrollRevealOption,
                delay: 2000,
            });

            ScrollReveal().reveal(".service__content .section__subheader", {
                ...scrollRevealOption,
            });
            ScrollReveal().reveal(".service__content .section__header", {
                ...scrollRevealOption,
                delay: 500,
            });
            ScrollReveal().reveal(".service__content .section__description", {
                ...scrollRevealOption,
                delay: 1000,
            });
            ScrollReveal().reveal(".service__btn", {
                ...scrollRevealOption,
                delay: 1500,
            });

            ScrollReveal().reveal(".service__card", {
                duration: 1000,
                interval: 500,
                delay: 2000,
            });

            const swiper = new Swiper(".swiper", {
                slidesPerView: "auto",
                spaceBetween: 20,

                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                scrollbar: {
                    el: '.swiper-scrollbar',
                },
            });

            document.querySelectorAll('.sukai').forEach(function (icon) {
                icon.addEventListener('mouseover', function () {
                    this.classList.replace('ri-heart-line', 'ri-heart-fill');
                });
                icon.addEventListener('mouseout', function () {
                    this.classList.replace('ri-heart-fill', 'ri-heart-line');
                });
            });

            document.querySelectorAll('.keranjangi').forEach(function (icon) {
                icon.addEventListener('mouseover', function () {
                    this.classList.replace('ri-shopping-cart-2-line', 'ri-shopping-cart-fill');
                });
                icon.addEventListener('mouseout', function () {
                    this.classList.replace('ri-shopping-cart-fill', 'ri-shopping-cart-2-line');
                });
            });
        };
        
    </script>
</body>
</html>
