@page "/"
@inject IJSRuntime JSRuntime

@code {
    private List<string> daftarKategori = new()
    {
        "Kain Tenun",
        "Makanan",
        "Minuman",
        "Aksesoris",
        "Pakaian",
        "Lain-Lain",
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("initJS");
    }
}

<!--===== HERO =====-->
<div class="hero">
    <header class="section__container header__container" id="about">
        <div class="header__image">
            <img src="assets/header_oleh2.png" alt="header" />
        </div>
        <div class="header__content">
            <p class="section__subheader">Selamat Datang</p>
            <h1>Pesona NTT: Kelezatan dan Keunikan dari Timur</h1>
            <p class="section__description">
                Dari Kupang hingga Flores, Temukan Kelezatan dan Keunikan Khas Nusa Tenggara Timur dengan Satu Klik
            </p>
            <div class="header__btns">
                <button class="btn">Semua Produk</button>
                <a href="#">
                    Produk Terbaru
                    <span><RemixIcon Name="arrow-right-up"/></span>
                </a>
            </div>
        </div>
    </header>
</div>
<!--===== AKHIR HERO =====-->

<!--===== STATS =====-->
<section class="section__container stats__container">
    <div class="stats__card">
        <h4>100+</h4>
        <p>Ulasan Positif</p>
    </div>
    <div class="stats__divider"></div>
    <div class="stats__card">
        <h4>100+</h4>
        <p>Produk Unik</p>
    </div>
    <div class="stats__divider"></div>
    <div class="stats__card">
        <h4>99+</h4>
        <p>Pesanan Terpenuhi</p>
    </div>
</section>
<!--===== AKHIR STATS =====-->

<!--===== KATEGORI PRODUK =====-->
<section class="section__container kategori__container" id="review">
    <p class="section__subheader">Kategori</p>
    <h2 class="section__header">
        Kategori Produk<span></span>
    </h2>

    <SwiperListView Count="daftarKategori.Count" Context="context">
        <div class="kategori__card">
            <div class="gambar_kategori">
                <img src="assets/kategori_kain.png">
            </div>
            <div class="nama_kategori">
                <h4>@daftarKategori[context]</h4>
            </div>
        </div>
    </SwiperListView>

</section>
<!--===== AKHIR KATEGORI PRODUK =====-->
<!--===== PRODUK TERLARIS =====-->
<section class="laris">
    <div class="section__container laris__container">
        <p class="section__subheader">
            Terlaris di Toko
        </p>
        <h2 class="section__header">Produk Terlaris</h2>
        <div class="laris__grid">


            <div class="laris__card">
                <img class="gambar_terlaris" src="assets/sei_makanan.png" alt="trip" />
                <div class="laris__details">
                    <p>Makanan</p>
                    <h6>Se'i Babi Asap</h6>
                    <div class="bagian__price">
                        <div class="price"><span>Rp 25.000</span></div>
                        <div class="action-produk-card">
                            <i class="ri-heart-line sukai"></i>
                            <i class="ri-shopping-cart-2-line keranjangi"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="laris__card">
                <img class="gambar_terlaris" src="assets/sei_makanan.png" alt="trip" />
                <div class="laris__details">
                    <p>Makanan</p>
                    <h6>Se'i Babi Asap</h6>
                    <div class="bagian__price">
                        <div class="price"><span>Rp 25.000</span></div>
                        <div class="action-produk-card">
                            <i class="ri-heart-line sukai"></i>
                            <i class="ri-shopping-cart-2-line keranjangi"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="laris__card">
                <img class="gambar_terlaris" src="assets/sei_makanan.png" alt="trip" />
                <div class="laris__details">
                    <p>Makanan</p>
                    <h6>Se'i Babi Asap</h6>
                    <div class="bagian__price">
                        <div class="price"><span>Rp 25.000</span></div>
                        <div class="action-produk-card">
                            <i class="ri-heart-line sukai"></i>
                            <i class="ri-shopping-cart-2-line keranjangi"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="laris__card">
                <img class="gambar_terlaris" src="assets/sei_makanan.png" alt="trip" />
                <div class="laris__details">
                    <p>Makanan</p>
                    <h6>Se'i Babi Asap</h6>
                    <div class="bagian__price">
                        <div class="price"><span>Rp 25.000</span></div>
                        <div class="action-produk-card">
                            <i class="ri-heart-line sukai"></i>
                            <i class="ri-shopping-cart-2-line keranjangi"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="view__all">
            <button class="btn">View All</button>
        </div>
    </div>
</section>


<!--===== SKILL =====-->
<section class="section__container service__container" id="service">
    <div class="service__content">
        <p class="section__subheader">Layanan Kami</p>
        <h2 class="section__header">
            Mengapa Belanja di <span>Oleh-oleh NTT?</span>
        </h2>
        <p class="section__description">
            Kami menyediakan berbagai kategori produk lokal terbaik dari NTT dengan layanan pengiriman ke seluruh Indonesia.
        </p>
        <div class="service__btn">
            <button class="btn">Belanja Sekarang</button>
        </div>
    </div>
    <div class="service__grid">
        <div class="service__card">
            <span><RemixIcon Name="grid"/></span>
            <h4>Kategori Lengkap</h4>
            <p>
                Menyediakan berbagai produk oleh-oleh seperti makanan khas, kerajinan tangan, hingga kain tenun asli NTT.
            </p>
        </div>
        <div class="service__card">
            <span><RemixIcon Name="map-pin" /></span>
            <h4>Pengiriman Luas</h4>
            <p>
                Layanan pengiriman ke seluruh Indonesia dengan jaminan keamanan dan ketepatan waktu.
            </p>
        </div>
        <div class="service__card">
            <span><RemixIcon Name="heart" /></span>
            <h4>Dukungan UMKM Lokal</h4>
            <p>
                Kami mendukung pengrajin lokal dengan menjual produk-produk terbaik mereka, membantu perekonomian NTT.
            </p>
        </div>
    </div>
</section>
<!--===== AKHIR SKILL =====-->
<!--===== BLOG TERBARU =====-->
<section class="blog">
    <div class="section__container blog__container">
        <p class="section__subheader">
            Terbaru
        </p>
        <h2 class="section__header">Berita/Tips Menarik</h2>
        <div class="blog__grid">


            <div class="blog__card">
                <img class="gambar_blog" src="assets/contoh_berita.png" alt="blog" />
                <div class="blog__details">
                    <p>Berita</p>
                    <h5>Mengenal Makanan Khas NTT: Lezat dan Unik</h5>
                    <h6>
                        Nusa Tenggara Timur (NTT) dikenal dengan berbagai kuliner khas yang menggugah selera.
                        Di antara makanan-makanan tersebut, beberapa yang patut dicoba adalah Se’i Babi, daging
                        babi asap yang penuh rasa, dan Jagung Bose, olahan jagung yang dimasak dengan rempah-rempah tradisional.
                    </h6>
                    <a>Selengkapnya</a>
                </div>
            </div>


            <div class="blog__card">
                <img class="gambar_blog" src="assets/contoh_berita.png" alt="blog" />
                <div class="blog__details">
                    <p>Tips/Trik</p>
                    <h5>Tips Memilih Oleh-Oleh Terbaik dari NTT: Dijamin Gokil</h5>
                    <h6>
                        Ketika berkunjung ke NTT, memilih oleh-oleh yang tepat bisa menjadi tantangan tersendiri.
                        Berikut beberapa tips untuk membantu Anda:
                    </h6>
                    <a>Selengkapnya</a>
                </div>
            </div>


            <div class="blog__card">
                <img class="gambar_blog" src="assets/contoh_berita.png" alt="blog" />
                <div class="blog__details">
                    <p>Sejarah</p>
                    <h5>Sejarah Kain Tenun Ikat: Warisan Budaya NTT</h5>
                    <h6>
                        Kain tenun ikat merupakan salah satu warisan budaya yang paling berharga dari NTT.
                        Teknik tenun ikat yang digunakan telah ada sejak zaman dahulu dan diwariskan turun-temurun
                        oleh masyarakat lokal. Kain ini sering digunakan dalam upacara adat dan merupakan simbol
                        status serta identitas budaya.
                    </h6>
                    <a>Selengkapnya</a>
                </div>
            </div>

        </div>
        <div class="view__all">
            <button class="btn">View All</button>
        </div>
    </div>
</section>


<!--===== NEWSLETTER =====-->
<section class="newsletter">
    <div class=" newsletter__container">
        <p class="section__subheader">Newsletter Kami</p>
        <h2 class="section__header">Subscribe Newsletter</h2>
        <h6 class="">
            SUbscribe Newsletter Kami Untuk Mendapatkan Informasi Produk Terbaru Kami. <br>
            Dapatkan 20% Diskon Untuk Order Pertama Setelah Subscribe
        </h6>
        <div class="newsletter__grid">
            <input type="email" placeholder="Masukkan email Anda" />
            <button type="button">Subscribe</button>
        </div>
    </div>
</section>
<!--===== AKHIR NEWSLETTER =====-->
<!--===== FOOTER =====-->
<footer>
    <div class="section__container footer__container">
        <div class="footer__col">
            <div class="footer__logo">
                <a href="#" class="logo">
                    <span>OlehOlehNTT</span>
                </a>
            </div>
            <p class="section__description">
                Pekerjaan Kami adalah Menyediakan Pengalaman Belanja Yang Nyaman
            </p>
            <ul class="footer__socials">
                <li>
                    <a href="#"><RemixIcon Name="instagram" Type=IconType.Fill/></a>
                </li>
                <li>
                    <a href="#"><RemixIcon Name="facebook" Type=IconType.Fill /></a>
                </li>
                <li>
                    <a href="#"><RemixIcon Name="twitter" Type=IconType.Fill /></a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h4>Tentang Kami</h4>
            <ul class="footer__links">
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Fitur</a></li>
                <li><a href="#">Berita</a></li>
                <li><a href="#">Menu</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h4>Toko</h4>
            <ul class="footer__links">
                <li><a href="#">Mengapa Kami?</a></li>
                <li><a href="#">Partner Kami</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h4>Bantuan</h4>
            <ul class="footer__links">
                <li><a href="#">Pusat bantuan</a></li>
                <li><a href="#">Umpan Balik</a></li>
                <li><a href="#">Kontak Kami</a></li>
                <li><a href="#">Kebijakan Pengguna</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bar">
        Copyright © 2024 Tim Site22. All rights reserved.
    </div>
</footer>
<!--===== AKHIR FOOTER =====-->