@page "/produk"
@inject IRepositoriProduk RepositoriProduk

<h3>Product</h3>

@if (DaftarProduk is null)
{
    <p>...Loading</p>
}
else
{
    <ul>
        @foreach (var produk in DaftarProduk)
        {
            <li>
                Id : @produk.Id <br />
                Nama : @produk.Nama <br />
                Kategori : @(produk.Kategori?.Nama ?? "Tidak Ada")
            </li>
        }
    </ul>
}

@code {
    private List<Produk>? DaftarProduk = null;

    protected override async Task OnInitializedAsync()
    {
        DaftarProduk = await RepositoriProduk.GetAll();
    }
}
