@typeparam T

<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        @foreach(var item in Items)
        {
            <div class="swiper-slide" @key=item>
                @if(ItemTemplate is not null)
                {
                    @ItemTemplate(item)
                }
            </div>
        }
    </div>
    <!-- Tombol Navigasi -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- Scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

@code {
    [Parameter]
    public List<T> Items { get; set; } = new();

    [Parameter]
    public RenderFragment<T>? ItemTemplate { get; set; }
}
