<!--===== FOOTER =====-->
<footer>
    <div class="section__container footer__container">
        <div class="footer__col">
            <div class="footer__logo">
                <a href="#" class="logo">
                    <span>OlehOlehNTT</span>
                </a>
            </div>
            <p class="section__description">
                Pekerjaan Kami adalah Menyediakan Pengalaman Belanja Yang Nyaman
            </p>
            <ul class="footer__socials">
                <li>
                    <a href="#"><RemixIcon Icon=@RemixIcons.Instagram Type=IconType.Fill Size=1.5 /></a>
                </li>
                <li>
                    <a href="#"><RemixIcon Icon=@RemixIcons.Facebook Type=IconType.Fill Size=1.5 /></a>
                </li>
                <li>
                    <a href="#"><RemixIcon Icon=@RemixIcons.Twitter Type=IconType.Fill Size=1.5 /></a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h4>Tentang Kami</h4>
            <ul class="footer__links">
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Fitur</a></li>
                <li><a href="#">Berita</a></li>
                <li><a href="#">Menu</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h4>Toko</h4>
            <ul class="footer__links">
                <li><a href="#">Mengapa Kami?</a></li>
                <li><a href="#">Partner Kami</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h4>Bantuan</h4>
            <ul class="footer__links">
                <li><a href="#">Pusat bantuan</a></li>
                <li><a href="#">Umpan Balik</a></li>
                <li><a href="#">Kontak Kami</a></li>
                <li><a href="#">Kebijakan Pengguna</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bar">
        Copyright © 2024 Tim Site22. All rights reserved.
    </div>
</footer>
<!--===== AKHIR FOOTER =====-->