@inject OlehOlehNTT.Web.Authentication.SignInManager SignInManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        
        <button @onclick="async () => await SignInManager.SignOutAsync()" class="nav-link btn btn-link">Log out</button>
    </Authorized>
    <NotAuthorized>
        <div class="nav__btn">
            <a href="/register">Register</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
