@inject OlehOlehNTT.Web.Authentication.SignInManager SignInManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        
        <button @onclick="async () => await SignInManager.SignOutAsync()" class="nav-link btn btn-link">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
