<!--===== NAVBAR =====-->
<nav>
    <div class="nav__header">
        <div class="nav__logo">
            <a href="#"><span>NTT</span>oleholeh</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><NavLink Match="NavLinkMatch.Prefix" href="#about">Produk</NavLink></li>
        <li><NavLink Match="NavLinkMatch.Prefix" href="#skill">Pesanan Saya</NavLink></li>
        <li><NavLink Match="NavLinkMatch.Prefix" href="#portfolio">Blog</NavLink></li>
        <li><NavLink Match="NavLinkMatch.Prefix" href="#review">Tentang Kami</NavLink></li>
        <li><NavLink Match="NavLinkMatch.Prefix" href="#review">Kontak</NavLink></li>
    </ul>
    <div class="nav__btn">
        <a href="" class="" download="">Register</a>
        <a href="" class="btn" download="">Login</a>
    </div>
</nav>
<!--===== AKHIR NAVBAR =====-->
